.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.config/
.dotnet/
.gitconfig
.profile
.python_history
.viminfo
.vscode-server/
.vscode/
.wget-hsts
Anaconda3-2024.02-1-Linux-x86_64.sh
Android/
anaconda3/
android-ndk-r19c/
android-ndk-r26b/
iperf-3.9.zip
iperf-3.9/
llama_old2.cpp/
lm-evaluation-harness/
logger_for_galaxyS22.c
openssl-1.1.1.tar.gz
openssl/
output.txt
safetensors/
tyler/
wget-log